@media screen and (min-width: 1171px) and (max-width: 1366px) {

#donors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#card-donors {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.donor {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    border: 2px dashed #684614;
    position: relative;
    overflow: hidden;
}
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
} 

@media screen and (min-width: 1367px) {
    #donors {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin-top: -10%;

    }
    #donors .section-span {
        font-size: 1.363rem;
    }
    #donors .section-subtitle {
        font-size: 2.63rem;
    }
    #donors .section-title {
        font-size: 2.15rem;
    }
    
    #card-donors {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 32px;
    }
    
    .donor {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 18px;
        width: 25%;
        padding: 20px;
        background-color: var(--color-neutral-0);
        border: 2px dashed #684614;
        position: relative;
        overflow: hidden;
        font-size: 2rem;
    }
}