#voluntary {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 5%;
    flex-direction: column;
    padding: 0 5%;
}

.container-title-voluntary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilização do subtítulo */
h3.section-subtitle-voluntary {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-top: 8%;
    color: var(--color-neutral-1);
}

/* Estilização do span dentro do subtítulo */
.section-subtitle-voluntary span {
    font-size: 2.5rem;
    color: var(--color-primary-6);
}

.container-title-voluntary p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-size: 1.3rem;
    text-align: center;
}

#voluntary-content {
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-voluntary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 20px;
    border-radius: 12px;
    border: 2px dashed var(--color-neutral-1);
    background-color: var(--color-primary-2);
    flex-grow: 1;
    width: 100%;
}

.form-voluntary form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.form-voluntary label {
    font-size: 1rem;
    color: var(--color-neutral-1);
}

.forms {
    width: 100%;
    flex-grow: 1;
}

.forms input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--color-neutral-1);
    border-radius: 4px;
}

.form-declaration {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-declaration .btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px dashed #684614;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
}

.form-declaration .btn-default:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
