#voluntary {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 5%;
    flex-direction: column;
}

.container-title-voluntary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilização do subtítulo */
h3.section-subtitle-voluntary {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-top: 8%;
    color: var(--color-neutral-1);
}

/* Estilização do span dentro do subtítulo */
.section-subtitle-voluntary span {
    font-size: 2.5rem;
    color: var(--color-primary-6);
}

.container-title-voluntary p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-size: 1.3rem;
}

#voluntary-content {
    width: 80%;
    display: flex;
    justify-content: center;
}

.form-voluntary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    border: 2px dashed var(--color-neutral-1);
    background-color: var(--color-primary-2);
    width: 100%;
}

.form-voluntary form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-voluntary .form-left,
.form-voluntary .form-right {
    width: 45%;
}

.form-voluntary label {
    font-size: 1rem;
    color: var(--color-neutral-1);
}

form #nome, #email, #telefone {
    display: flex;
    width: 100%;
    background-color: var(--color-primary-1);
    border: 1px dashed #684614;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

form #rua {
    display: flex;
    width: 85%;
    background-color: var(--color-primary-1);
    border: 1px dashed #684614;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

form #data_nascimento {
    display: flex;
    width: 25%;
    background-color: var(--color-primary-1);
    border: 1px dashed #684614;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.adress {
    display: flex;
    justify-content: space-between;
}

form #numero {
    display: flex;
    width: 12%;
    background-color: var(--color-primary-1);
    border: 1px dashed #684614;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

form #complemento {
    display: flex;
    width: 50%;
    background-color: var(--color-primary-1);
    border: 1px dashed #684614;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tempos-voluntary {
    display: flex;
    flex-direction: column;
}

.form-declaration {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.form-declaration input[type="checkbox"] {
    margin-right: 10px;
}

.form-declaration .btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    border: 2px dashed #684614;
    cursor: pointer;
}

.form-declaration .btn-default:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease;
}
